.one-column-small, .two-columns-small, .three-columns-small, .four-columns-small, .five-columns-small, .six-columns-small, .seven-columns-small, .eight-columns-small, .nine-columns-small, .ten-columns-small, .eleven-columns-small, .twelve-columns-small, .one-column-medium, .two-columns-medium, .three-columns-medium, .four-columns-medium, .five-columns-medium, .six-columns-medium, .seven-columns-medium, .eight-columns-medium, .nine-columns-medium, .ten-columns-medium, .eleven-columns-medium, .twelve-columns-medium, .one-column-large, .two-columns-large, .three-columns-large, .four-columns-large, .five-columns-large, .six-columns-large, .seven-columns-large, .eight-columns-large, .nine-columns-large, .ten-columns-large, .eleven-columns-large, .twelve-columns-large, .one-column-extra-large, .two-columns-extra-large, .three-columns-extra-large, .four-columns-extra-large, .five-columns-extra-large, .six-columns-extra-large, .seven-columns-extra-large, .eight-columns-extra-large, .nine-columns-extra-large, .ten-columns-extra-large, .eleven-columns-extra-large, .twelve-columns-extra-large {
   text-align: center;
   margin-bottom: 10px;
   color: #fff;
}

.column-margin {
   margin: 0px 10px;
   padding: 20px 0px;
   background-color: red;
   text-align: center;
}
