/*
    Colors
    -------------------------------------------
*/
$font-family : "Open Sans", Verdana, Geneva, sans-serif;
$text-color : #000;
$link-color : #000;

// Button Colors
$button-color : #000;
$button-text : #fff;

$reversed-button-color : #fff;
$reversed-button-background : #000;

$primary-button-color : #0AA9FF;
$primary-button-text : #fff;
$primary-button-hover : transparent;

$warning-button-color : #FF8500;
$warning-button-text : #fff;
$warning-button-hover : transparent;

$danger-button-color : #FF111F;
$danger-button-text : #fff;
$danger-button-hover : transparent;

$success-button-color : #36D90B;
$success-button-text : #fff;
$success-button-hover : transparent;
